.map-controller {
  * {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2rem;
  }
  position: absolute;
  background-color: #334155;
  color: white;
  padding: 5px;
  padding-top: 20px;
  border-radius: 10px;
  z-index: 100;
  width: 500px;
  height: 150px;
  top: 10px;
  left: 10px;

  .type-select {
    max-width: 100%;
  }
  .details {
    padding-top: 1rem;
  }
}
